.App{
    background-image: url(./assets/Images/background\ image.png);
    position: fixed;
    top: 0;
    left: 0;
    min-width: 100%;
    min-height: 100%;
    background-size: cover;
    background-position: center;
    background-color: #EFFFFF;
}